# Exercise 4.8 Grouping Data and Aggregating Variables

## This script contains the following:
1. Importing Libraries and Data Files
2. Aggregating Variables and Deriving New Variables
3. Exporting Dataframes

# 1. Importing Libraries and Data Files

#### Import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the walkthrough.

In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import os

#### Import Data Files as Dataframe

In [2]:
# Create a string of the path for the main project folder
path = r'C:\Users\Ryan\Documents\07-17-2023 Instacart Basket Analysis'

In [3]:
# Import the “orders_products_merged.pkl” data set using the os library
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
# Check the output
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders

In [5]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 16)

# 2. Aggregating Variables and Deriving New Variables

#### In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [6]:
# Obtain mean 'order_number" value for each 'department_id'
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

The result for the entire dataframe shows the mean order_number values for all 21 department_id's. In the subset, we only saw a the mean order_number values for 8 department_id's because those 8 department_id's were in the first 1,000,000 rows of the entire data set. Furthermore, the mean order_number values in the subset differ from the mean order_number values in the entire dataframe because the mean order_number values in the subset only pertain to the first 1,000,000 rows. In other words, the mean order_number values in the subset are sample means, not population means.

#### Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

#### Create a flag for cusomters with many orders using the following criteria:
1. If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
2. If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
3. If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [7]:
# Create 'max_order' column in ords_prods_merge
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
# Check the output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22

In [9]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 17)

In [10]:
# Create a 'loyalty_label' column that assigns 'Loyal customer' label
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_label'] = 'Loyal customer'

In [11]:
# Create a 'loyalty_label' column that assigns 'Regular customer' label
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_label'] = 'Regular customer'

In [12]:
# Create a 'loyalty_label' column that assigns 'New customer' label
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_label'] = 'New customer'

In [13]:
# Check the frequencies of 'loyalty_label' column
ords_prods_merge['loyalty_label'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_label, dtype: int64

In [14]:
# Check the output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_label
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer

In [15]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 18)

#### The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [16]:
# Find basic statistics using agg()
ords_prods_merge.groupby('loyalty_label').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_label
Loyal customer    10.386335  1.0  99999.0
New customer      13.294669  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [17]:
# Check for prices > 100
ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_label
10030345,912404,17,12,2,14,5.0,21553,5,0,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,High-range product,Regularly busy,Most orders,40,Regular customer
10030346,603376,17,22,6,16,4.0,21553,3,1,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,High-range product,Regularly busy,Most orders,40,Regular customer
10030347,3264360,135,2,2,21,13.0,21553,6,0,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,High-range product,Regularly busy,Average orders,4,New customer
10030348,892534,135,3,0,8,12.0,21553,3,1,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,High-range product,Busiest day,Average orders,4,New customer
10030349,229704,342,8,1,19,30.0,21553,9,0,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,High-range product,Busiest day,Average orders,16,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29166209,2249946,204099,29,0,8,4.0,33664,1,0,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Busiest day,Average orders,39,Regular customer
29166210,2363282,204099,31,0,9,2.0,33664,1,1,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Busiest day,Most orders,39,Regular customer
29166211,3181945,204395,13,3,15,8.0,33664,25,0,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Least busy,Most orders,15,Regular customer
29166212,2486215,205227,7,3,20,4.0,33664,8,0,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Least busy,Average orders,12,Regular customer
29166213,2232716,205227,10,0,11,4.0,33664,23,1,2 % Reduced Fat Milk,84,16,99999.0,High-range product,Busiest day,Most orders,12,Regular customer

There are 5127 rows with prices > 100

In [18]:
# For prices > 100, return a NaN instead
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [19]:
# Find basic statistics using describe()
ords_prods_merge.groupby('loyalty_label')['prices'].describe()

                       count      mean       std  min  25%  50%   75%   max
loyalty_label
Loyal customer    10282763.0  7.773563  4.171781  1.0  4.2  7.4  11.2  25.0
New customer       6242841.0  7.801205  4.254437  1.0  4.2  7.4  11.3  25.0
Regular customer  15874128.0  7.798260  4.203851  1.0  4.2  7.4  11.3  25.0

The mean spending habits of the three type of loyal customers appear to be different. However, a statistical test would need to be conducted to determine if the different mean spending habits are statistically significant.

#### The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
1. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
2. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [20]:
# Create 'mean_spent' column for each user id in ords_prods_merge
ords_prods_merge['mean_spent'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
# Check the output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_label,mean_spent
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556

In [22]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 19)

In [23]:
# Create 'spender_label' column that assigns 'Low spender' label
ords_prods_merge.loc[ords_prods_merge['mean_spent'] < 10, 'spender_label'] = 'Low spender'

In [24]:
# Create 'spender_label' column that assigns 'High spender' label
ords_prods_merge.loc[ords_prods_merge['mean_spent'] >= 10, 'spender_label'] = 'High spender'

In [25]:
# Check the output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_label,mean_spent,spender_label
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797,Low spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797,Low spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797,Low spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556,Low spender
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556,Low spender
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556,Low spender

In [26]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 20)

In [27]:
# Check the frequencies of the 'spender_label' column
ords_prods_merge['spender_label'].value_counts(dropna = False)

Low spender     32285131
High spender      119728
Name: spender_label, dtype: int64

#### In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
1. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
2. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
3. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [28]:
# Create a 'median_days_since_prior_order' column for each user id in ords_prods_merge
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [29]:
# Check the output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_label,mean_spent,spender_label,median_days_since_prior_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0

In [30]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 21)

In [31]:
# Create 'customer_frequency_level' column that assigns 'Non-frequent customer' label
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'customer_frequency_level'] = 'Non-frequent customer'

In [32]:
# Create 'customer_frequency_level' column that assigns 'Regular customer' label
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20), 'customer_frequency_level'] = 'Regular customer'

In [33]:
# Create 'customer_frequency_level' column that assigns 'Frequent customer' label
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'customer_frequency_level'] = 'Frequent customer'

In [34]:
# Check the output
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range,busiest_days,busiest_period_of_day,max_order,loyalty_label,mean_spent,spender_label,median_days_since_prior_order,customer_frequency_level
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,Mid-range product,Busiest day,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,Mid-range product,Busiest day,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer

In [35]:
# Check the dimensions
ords_prods_merge.shape

(32404859, 22)

In [36]:
# Check the frequencies of 'customer_frequency_level' column
ords_prods_merge['customer_frequency_level'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: customer_frequency_level, dtype: int64

# 3. Exporting Dataframes

In [37]:
# Check the data types of ords_prods_merge
ords_prods_merge.dtypes

order_id                          uint32
user_id                           uint32
order_number                       uint8
orders_day_of_week                 uint8
order_hour_of_day                  uint8
days_since_prior_order           float32
product_id                        uint16
add_to_cart_order                  uint8
reordered                          uint8
product_name                      object
aisle_id                           uint8
department_id                      uint8
prices                           float32
price_range                       object
busiest_days                      object
busiest_period_of_day             object
max_order                          uint8
loyalty_label                     object
mean_spent                       float32
spender_label                     object
median_days_since_prior_order    float32
customer_frequency_level          object
dtype: object

#### Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [38]:
# Export df_merged dataframe as "orders_products_merged.pkl"
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))